body{
    margin:0;
    background:linear-gradient(135deg,#ff4d6d,#ff8fab);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial,sans-serif;
}

.container{
    text-align:center;
    color:white;
}

.gift-box{
    font-size:150px;
    cursor:pointer;
    animation:shake 1s infinite;
}

@keyframes shake{
    0%{transform:rotate(0deg);}
    25%{transform:rotate(-10deg);}
    50%{transform:rotate(10deg);}
    75%{transform:rotate(-10deg);}
    100%{transform:rotate(0deg);}
}
#slide{
    margin-top:20px;
    width:300px;
    height:400px;
    object-fit:cover;
    border-radius:20px;
    box-shadow:0 0 20px white;
}
